file_cache_path     "/tmp/chef-solo"
cookbook_path       "{{chef_solo_runner_solo_path}}/cookbooks"
data_bag_path       "{{chef_solo_runner_solo_path}}/data_bags"
environment_path    "{{chef_solo_runner_solo_path}}/environments"
roles_path          "{{chef_solo_runner_solo_path}}/roles"

encrypted_data_bag_secret "{{chef_solo_runner_solo_path}}/encrypted_data_bag_secret"
